span {
    font-weight: bold;
}

.container, .bullet {
    display: flex;
}

.container {
    justify-content: space-evenly;
    flex-direction: column;
}
.bullet img {
    margin-top: 10px;
}

@media all and (min-width: 800px) {
    .container {
        flex-direction: row;
    }
}