header, button, h2, h3, h4{
  font-family: 'Caveat', cursive;
}

header, footer, .Sidebar {
  background-color: #555380;
}

footer{
  padding: 10px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 25px;
}

header {
  z-index: 1;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 25px 80px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
/* animate and time the transitions*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.App {
  text-align: center;
}

.App a:link {color: black}
.App a:visited{color:black}
.App a:hover {color: white}
.App a:active {color:white}

.sign-up-form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.click-icon:hover {cursor: pointer;}

.App {
  display: flex;
  flex-direction: column;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + main{
  padding-top: 100px;
}