header, h2, h3{
  font-family: 'Caveat', cursive;
}

header {
  background-color: blueviolet;
}

h2 {
  font-size: 40px;
}

.App {
  text-align: center;
}

.App a:link {color: black}
.App a:visited{color:black}
.App a:hover {color: white}
.App a:active {color:white}

.sign-up-form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.click-icon:hover {cursor: pointer;}