.rule h3 {
    font-size: 25px;
}

.rule .icons {
    position: absolute;
    top: 25px;
    right: 300px;
    left: auto;
}

.rule {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid orange;
}